<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374983345955-i49tvob0g5q3c167ljvic8vbtfdj07i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374983345955-i49tvob0g5q3c167ljvic8vbtfdj07i1</string>
	<key>API_KEY</key>
	<string>AIzaSyBvOkBw3cUyVbVl8Zx9qWrT2sEfGhI3jKl</string>
	<key>GCM_SENDER_ID</key>
	<string>374983345955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rindaa.Nourane</string>
	<key>PROJECT_ID</key>
	<string>dar-darkom</string>
	<key>STORAGE_BUCKET</key>
	<string>dar-darkom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374983345955:ios:your_ios_app_id</string>
</dict>
</plist>
